<!DOCTYPE html>
<% title ||= 'test' %>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootflat.min.css">
    <link rel="stylesheet" href="/stylesheets/isucon-bank.css">
    <title><%= title %></title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
